.center {
  display: flex;
  width: 80%;
  /* margin-left: auto;
  margin-right: auto; */
  margin: auto;
  margin-bottom: 65px;
  margin-top: 50px;
  height: 70vh;
  border-radius: 12px;
  border: 1px solid green;
}
.left {
  background-image: url(./img2.avif);
  width: 50%;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.right {
  /* margin-left: auto;
  margin-right: auto; */
  margin: auto;
}
@media screen and (max-width: 500px) {
  .left {
    display: none;
  }
  form {
    padding: 0px 20px;
  }
  .input-box {
    width: 80%;
  }
}
